# ----------------------
# Flutter
# ----------------------
# Archivos generados por Flutter
/build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

# Configuración local de IDE
.idea/
.vscode/

# Archivos de Android/iOS generados
*.iml
*.hprof
*.log
*.lock
*.pyc
*.class
*.apk
*.ipa

# Variables de entorno
.env
.env.*

# ----------------------
# Node.js / Backend
# ----------------------
# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de lock (opcional: generalmente se suben)
# package-lock.json
# yarn.lock

# ----------------------
# PostgreSQL / Bases de datos
# ----------------------
# No se suben dumps locales ni archivos temporales
*.sql
*.dump
pgdata/

# ----------------------
# General / Sistema
# ----------------------
.DS_Store
Thumbs.db
**comandos.txt
